.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  width: calc(99% - 100px);
  min-height: 100vh;
  margin: 0;
  padding-left: 100px;
  flex: 1;
  font-family: 'Sora', sans-serif;
}
/*Ana css*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  
}

#root {
  flex: 1;
}

.logeo h1{
  color: #3d3d3d;
  transition: 0.5s ease; 
  cursor: pointer;
}

.logeo h1:hover{
  color: #a67ac4;
}


.imagen1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.logeo {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 0;
  width: 80%;
  height: 579px;
  margin-top: 70px;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 40px;
  margin-left: -100px;
}

.logeo .formulario {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  
}
.formulario input {
  cursor: text;
  font-size: 14px;
  width: 40vh;
  padding: 0 16px;
 
  color: hsl(0, 0%, 0%, 0.7);
  margin-bottom: 50px;
  border: none;
  outline: none;

}
input{
  font-family: 'Sora', sans-serif;
  
}
.logeo .formulario input{
  cursor: text;
  font-size: 14px;
  width: 60vh;
  padding: 13px 0px 0px 18px;
  height: 60px;
  color: hsl(0, 0%, 0%, 0.9);
  margin-left: 27%;
  border-radius: 7px;
  border: none;
  outline-width: 30px;
  font-family: 'Sora', sans-serif;
  box-shadow: 0 0 2px rgb(0, 0, 0, 0.4);
  transition: background-color 0.3s ease; 
  transition: outline 0.1s; 
}

.logeo .formulario input:focus {
  outline:  solid #a67ac4; 

}

.logeo .formulario input:hover {
  background-color: #f5f5f5;
}

.formulario font {
  margin-top: 30px;
}

.OrdenarLabelEnInput h1{
  position: absolute;
  top: 15%;
  left: 125px;
  pointer-events: none;
  font-size: 14px;
  color: #6c737f;
  
}


.botonera {
  display: flex;
  flex-direction: row;
  height: 30px;
  position: relative;
  margin: 65px 0;
  justify-content: center;
}

.btn {
  background: #a67ac4;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  padding: 20px;
  font-family: 'Sora', sans-serif;
  transition: background-color 0.5s ease; 
}

.btn:hover {
  background-color: #6d4486;
}


.logeo .botonera .btn {
  
  background-color: #a67ac4;
  transition: background-color 0.3s ease; 
}

.logeo .botonera .btn:hover {
  background-color: #9A67B8 ;
}

.sidebar {
  width: 330px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 26px;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  margin: 0;
  /* transition: background-color 0.3s ease;  */
}
/* 
.toggle-button:hover {
  color: #6d4486;
} */



ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 20px;
  color: #fff;
}

li:hover {
  background-color: #6d4486;
}

.botondesplegable {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  left: 0;
  background-color: #a67ac4;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.botonesmenu {
  display: flex;
  flex-direction: column;
}

.pantalla {
  display: flex;
  flex-direction: row;

}

.contenedor {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ContenedorTarjetas {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  margin: 8px;

}

.ContenedorTarjetas.Llamados {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  margin: 8px;
}


.Tarjetas {
  
  justify-content: left;
  font-size: 12px;
  display: block;
  margin-left: 40px;
}

.botones {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.btntarjeta {
  background: #a67ac4;
  border: none;
  outline: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: background-color 0.3s ease; 
}

.btntarjeta:hover {
  background-color: #6d4486;
}

.btntarjetallamado{
  background: #d33636;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: background-color 0.3s ease; 

}
.btntarjetallamado2{
  background: #76c664;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 100px;
  height: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: background-color 0.3s ease; 
}

.imagen {
  filter: invert(100%);
}

.modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  width: 100%;
  min-height: 100%;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.contenedorFormulario{
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
}

.CartaContenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Agregar {
  height: 70px;
  width: 100%;
  text-align: left;
  margin: 10px;
}

.BotonDeAgregar {
  margin-top: 20px;
  background: #a67ac4;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  align-items: center;
  transition: background-color 0.3s ease; 
}

.BotonDeAgregar:hover {
  background-color: #6d4486;
}

.contenedor .imagen1 img{
  position: absolute;
  height: 100%;
  width: 800px;
  left: 570px;
}

/* .llamados h1{
  width: 95%;
  font-size: 25px;
  margin-bottom: 0;
} */

/*Kiara css*/

.contenedor2 {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  margin: 30px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

span {
 
  margin-right: 10px;
}

select {
  color:hsla(0, 0%, 0%, 0.801);
  width: 310px;
  height: 25px;
  border-radius: 0px;
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: 'Sora', sans-serif;
  
}



.contenedorFormulario .formulario {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 12px 0;
  border: none;
  border-bottom: 1px solid #49576e;
  outline: none;
}

.edit {
  margin: 30px;
}

h4{
margin-top: 20px;
margin-bottom: 0%;

}

.alinear-texto{
  text-align: left;
}