.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #13181f;
  margin: 0;
}

.contenedor {
  display: flex;
  flex-direction: center;
}

.logeo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 420px;
  height: 300px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
}

.logeo .formulario {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  border: none;
  border-bottom: 1px solid #13181f;
  margin-bottom: 5px;
  outline: none;
}
.formulario input {
  cursor: text;
  font-size: 14px;
  width: 40vh;
  padding: 0 16px;
  height: 20px;
  color: hsl(0, 0%, 0%, 0.7);
  border: none;
  outline: none;
}

.formulario font {
  margin-top: 30px;
}

.botonera {
  display: flex;
  flex-direction: row;
  height: 30px;
  position: relative;
  margin: 65px 0;
  justify-content: center;
}

.btn {
  background: #13181f;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  padding: 20px;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
}

li:hover {
  background-color: #9eadbd;
}

.botondesplegable {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  left: 0;
  background-color: #ccd6e0;
  margin: 0;
}

.botonesmenu {
  display: flex;
  flex-direction: column;
}

.pantalla {
  display: flex;
  flex-direction: row;
}
